<div class="container">
    <div class="row mt-6 my-3">
        <div class="col-lg-12 ">
            <div class="row">
                <%@posts.each do |post|%>
                    <div class="card mx-3 my-3 text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"><%= post.header %></h5>
                            <h6 class="card-subtitle mb-2 text-muted">author:<%= post.user.user_name %></h6>
                            <h6 class="card-subtitle mb-2 text-muted">status:<%= post.status %></h6>
                            <p class="card-text"><%= post.body %></p>
                            <div class="btn-group btn-group-sm mx-2 mb-2 " role="group">
                                <% if post.status==Post.statuses[:draft] || (post.status==Post.statuses[:new_post] && current_user.admin?)%>
                                    <a href="/posts/<%= post.id%>/edit" class="btn btn-secondary bg-light text-muted border border-white">Edit </a> 
                                <%end%>
                                <%= link_to 'Delete', post,class: "btn btn-secondary bg-light text-muted border border-white", method: :delete, data: { confirm: 'Are you sure?' } %>
                            </div>                           
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
    <%= paginate @posts , theme: 'twitter-bootstrap-4'%>
</div>